# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\suwon\MsgServerAPI\MsgServerAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
\MsgServerAPI\target\*.*
\MsgServerAPI\MsgServerAPI\out\*.*
\MsgServerAPI\MsgServerAPI\.settings\*.*
\MsgServerAPI\MsgServerAPI\.idea\*.*
\MsgServerAPI\MsgServerAPI\FinnqMsgServerAPI\

