<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>


<!-- demo root element -->
<div id="test">
    <button v-on:click="getData">test</button>
    <button v-on:click="testData">test2</button>
    </p>
    <ul>
        <li  v-if="name.indexOf('test') != -1"  v-for="(value,name) in items" >{{ name }} : {{ value }} </li>
    </ul>
</div>

<script>
    var test1 = new Vue({
        el: '#test',
        // 기본 데이터 선언
        data: {
          items:null
        },
        methods: {
            getData: function() {
                 axios.get('http://localhost:8080/get.do')
                        .then(function(response) {
                            test1.items = response.data;
                            console.log(response.data);
                            console.log(test1.items);
                         });
               // axios.get('http://localhost:8080/putHello.do').then(response => (this.items = response.data));
            },
            testData:function (){
                axios.post('http://localhost:8080/put.do' ,{name:'test' , value:'test232'});
            }
        }
    });

    var test11 = "test10";
    console.log("check indexOf : " + test11.indexOf('test'));
    if(test11.indexOf('test') == -1 ){
        alert("TEST!!!");
    }
</script>
</html>
