# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\suwon\MsgServerAPI\MsgServerAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../../../:\Users\suwon\MsgServerAPI\MsgServerAPI\target\
/../../../../../../:\Users\suwon\MsgServerAPI\MsgServerAPI\out\
/../../../../../../:\Users\suwon\MsgServerAPI\MsgServerAPI\.settings\
/../../../../../../:\Users\suwon\MsgServerAPI\MsgServerAPI\FinnqMsgServerAPI\

